.card-header {
    text-align: center;
    font-size: 60px;
    margin: 0;
}

.input-field {
    margin-left: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    padding: 10px;
}

.card-body {
    width: 50%;
    text-align: center;
    margin: auto;

}

.emi-details {
    display: block;
}

.result {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.result div {
    flex-grow: 1;
    font-size: 20px;
}

.result-data {
  padding-top: 75px;
}